<!DOCTYPE html>
<html>

<head>
    <title>Product List</title>
</head>

<body>
    <h2>Welcome, {{username}} ({{role}})</h2>

    <h3>Product List</h3>
    {{#each payload.payload}}
        {{#each this}}
            <p>{{stock}} {{title}}</p>
            <p>{{description}}</p>
            {{price}}

        {{/each}}
                            <button onclick="addToCart('{{_id}}')">Add to Cart</button><br><br><br>

    {{/each}}

    <!-- Pagination links -->
    {{#if payload.hasNextPage}}
    <a href="{{payload.nextLink}}">Next</a>
    {{/if}}

    {{#if payload.hasPrevPage}}
    <a href="{{payload.prevLink}}">Previous</a>
    {{/if}}

    <script>
        function addToCart(productId) {
            console.log('Adding product to cart:', productId);
        }

    </script>
</body>

</html>